<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.vrv.sdk.demo"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name="com.vrv.sdk.demo.DemoApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--登录界面-->
        <activity
            android:name="com.vrv.sdk.library.ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SDKBaseTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--注册界面-->
        <activity
            android:name="com.vrv.sdk.library.ui.activity.RegisterActivity"
            android:theme="@style/SDKBaseTheme"/>
        <!--注册第二步-->
        <activity
            android:name="com.vrv.sdk.library.ui.activity.RegisterStepActivity"
            android:theme="@style/SDKBaseTheme"/>
        <!--会话界面-->
        <activity
            android:name="com.vrv.sdk.library.ui.activity.MainActivity"
            android:theme="@style/SDKBaseTheme"/>
        <!-- 群列表界面 -->
        <activity
            android:name="com.vrv.sdk.library.ui.activity.GroupListActivity"
            android:theme="@style/SDKBaseTheme"/>
        <!--聊天界面-->
        <activity
            android:name="com.vrv.sdk.library.ui.activity.ChatActivity"
            android:theme="@style/SDKBaseTheme"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="com.vrv.sdk.library.ui.activity.ChatBaseActivity"
            android:theme="@style/SDKBaseTheme"
            />
        <activity
            android:name="com.vrv.sdk.library.ui.activity.ChatQqActivity"
            android:theme="@style/SDKBaseTheme"
            />
        <activity
            android:name="com.vrv.sdk.library.ui.activity.ChatWxActivity"
            android:theme="@style/SDKBaseTheme"
            />
        <!--好友信息-->
        <activity
            android:name="com.vrv.sdk.library.ui.activity.ContactDetailActivity"
            android:theme="@style/SDKBaseTheme"/>
        <!--查找好友-->
        <activity
            android:name="com.vrv.sdk.library.ui.activity.SearchActivity"
            android:theme="@style/SDKBaseTheme"/>
        <activity
            android:name="com.vrv.sdk.library.ui.activity.PhotosThumbnailActivity"
            android:theme="@style/SDKBaseTheme"/>
        <activity
            android:name="com.vrv.sdk.library.ui.activity.ChatPhotosActivity"
            android:theme="@style/SDKBaseTheme"/>
        <activity
            android:name="com.vrv.sdk.library.ui.activity.PhotosCropActivity"
            android:theme="@style/SDKBaseTheme"/>
        <activity
            android:name="com.vrv.sdk.library.ui.activity.PhotosPreviewActivity"
            android:theme="@style/SDKBaseTheme"/>
        <activity
            android:name="com.vrv.sdk.library.ui.activity.SelectContactActivity"
            android:theme="@style/SDKBaseTheme"/>
        <activity
            android:name="com.vrv.sdk.library.ui.activity.FileSelectActivity"
            android:theme="@style/SDKBaseTheme"/>
        <activity
            android:name="com.vrv.sdk.library.ui.activity.LocationActivity"
            android:theme="@style/SDKBaseTheme"/>
        <activity
            android:name="com.vrv.sdk.library.ui.activity.SelectGroupMemberActivity"
            android:theme="@style/SDKBaseTheme"/>

        <!--必须添加的组件  begin-->
        <service android:name="com.vrv.imsdk.service.ApNotifyService"/>
        <receiver android:name="com.vrv.imsdk.receiver.ApNotifyReceiver">
            <intent-filter>
                <action android:name="com.vrv.imsdk.receiver.ApNotifyReceiver"/>
            </intent-filter>
        </receiver>
        <meta-data
            android:name="com.vrv.imsdk"
            android:value="0l"/>
        <!--必须添加的组件  end-->

        <!-- 百度地图SDK -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"/>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="HUqE5FdZBcPCxuVkS4K7TNbM626w4shZ"/>
    </application>
    <!--必须的权限 begin-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.GET_TOP_ACTIVITY_INFO"/>
    <uses-permission android:name="android.permission.REORDER_TASKS"/>
    <!-- 保持唤醒 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!--必须的权限 end-->
    <!-- 百度地图需要权限 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

</manifest>
